.button {
  width: 20em;
  padding: 0.5em 0;
  background: none;
  color: #aeaeae;
  border: 4px solid #aeaeae;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color, border-color, color 0.3s ease-in-out;

  &:hover {
    background-color: #1f306b;
    border-color: #1f306b;
    color: #fff;
  }
}
