.menuStyle {
  font-size: 4em;
  font-family: serif, "Palatino Linotype";
  color: #707070;
  border: 1px solid #707070;
  text-align: center;
  list-style-type: none;
}

.bold {
  font-weight: "bold";
}
