@import "../../colors.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d5297;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  height: 60px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  color: $white-color;
  text-decoration: none;
  padding-left: 2em;
}

.slideOutMenuContainer {
  width: 15%;
  position: relative;
  color: $white-color;
}

.rightSide {
  display: grid;
  justify-items: right;
}

@media screen and (max-width: 700px) {
  .navbar {
    grid-template-columns: auto auto;
  }
}
