@import "../../colors.scss";

.wrapper {
  margin: 0 2em;
  padding: 0.3em 0.75em;
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 20em;
}

.button {
  width: 4.5em;
  border: 1px solid $primary-color;
  font-size: 1em;
}
.taginput {
  width: 8em;
}

.subpage {
  font-size: 2em;
}

.submit {
  position: fixed;
  bottom: 1em;
  max-width: 20em;
}
.submitbutton {
  width: 13em;
  border: 2px solid $primary-color;
}
