@import "../../colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .recipeImg {
    margin-top: 1%;
    width: 85%;
    height: 40rem;
    object-fit: cover;
  }

  .recipeBagdes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    margin: 2em 0;

    .bagde {
      font-size: 1.2rem;
      color: $primary-color;
    }
  }

  .recipeDescription {
    width: 90%;

    p {
      font-size: 1.7rem;
      line-height: 1.6;
      text-align: justify;
    }
  }

  .comments {
    margin-bottom: 5%;
    color: $primary-color;
  }
}
