@import "../../colors.scss";

.text-input {
  height: 2em;
  width: 100%;
  border: 1px solid $primary-color;
  border-radius: 2em;
  text-align: center;
  font-family: Hack, monospace;
  font-weight: normal;
  font-size: 1.0rem;
}

.icon {
  padding: 10px;
  padding-left: 0;
  min-width: 50px;
  text-align: center;
}

.textinput-container {
  padding: 10px 0;
  display: flex;
}
