@import "../../colors.scss";

.text-input {
  height: 2.5em;
  width: 100%;
  border: 1px solid $primary-color;
  border-radius: 2em;
  text-align: center;
  font-family: Hack, monospace;
  font-weight: normal;
  font-size: 1rem;
}

.icon {
  padding: 10px 3px;
  padding-left: 0;
  min-width: 50px;
  display: flex;
}

.textinput-container {
  padding: 10px;
  display: flex;

  i {
    margin: 0 2em;
    position: absolute;
  }
}
