@import "../../colors.scss";

.menu {
  background-color: #2d5297;

  .link {
    text-decoration: none;
  }

  .menuItem {
    font-size: 2rem;
    padding: 15px;
    display: flex;
    color: $white-color;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: $primary-color;
    }
  }
}
