@import "../../colors.scss";

.subpageTitle {
  margin: 0 auto;
  padding: 0.5em;
  background: none;
  border-bottom: 1px solid $primary-color;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 90%;
  color: $primary-color;
  text-transform: capitalize;
}
