@import "../../colors";

.item {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 2.5em;
  border: 1px solid $secondary-color;
  border-radius: 5px;

  .author {
    padding: 0.3em;
    color: $secondary-color;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .text {
    font-size: 1.8rem;
    padding: 0.5em;
  }
}
