@import "../../colors.scss";

.centered {
  margin: 0 2em;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $primary-color;
  width: 90%;

  .subpageTitle {
  margin: 0 auto;
  padding: 0.5em;
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  
  color: $primary-color;
  text-transform: capitalize;
  }
}