@import "../../colors.scss";

.centered {
  margin: 0 2em;
}

.title {
  border-bottom: 1px solid $primary-color;
  margin: 0 2em;
  display: flex;
  justify-content:center;
  gap: 0.6em;
   
  .subpageAllTitle {
    margin: 0;
    padding: 0.5em 0;
    background: none;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    color: $primary-color;
    text-transform: capitalize;
    width: auto;
  }
}
