<<<<<<< HEAD
$primary-color: #aeaeae;
$secondary-color: #1f306b;
$white-color: #fff;
$dark-gray-color: #1e1e1e;
$background-color: #0000000d;
=======
$primary-color: #aeaeae;
$secondary-color: #1f306b;
$white-color: #fff;
$dark-gray-color: #1e1e1e;
$background-color: #0000000d;
$error-color: #dd3737;
>>>>>>> origin/dev
