<<<<<<< HEAD
@import "../../colors.scss";

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $background-color;
  max-width: 45em;
  min-width: 420px;
  margin: 2em auto;
  padding-right: 2em;
  border-radius: 10px;

  .img {
    width: 50%;
    padding: 1.8em;
    border-radius: 30px;
  }

  .describe {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white-color;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: -1px 2px 20px 0 rgba(0, 0, 0, 10%);
    padding: 2em 3em;

    .mealTitle {
      font-size: 2rem;
      margin-bottom: 0.5em;
    }

    .infoKcal,
    .infoTime,
    .infoDesc {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      padding: 0.3em;

      .txt {
        margin-left: 1em;
      }
    }

    .infoDesc {
      align-items: start;
    }
  }
}
=======
@import "../../colors.scss";

.card {
  display: flex;
  align-items: center;
  background-color: $background-color;
  margin: 2em auto;
  border: none;
  border-radius: 10px;
  padding: 1em 2em;

  &:hover{
    cursor: pointer;
  }

  .img {
    width: 100%;
    // padding: 1em 2em;
    border-radius: 40px;
  }

  .describe {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white-color;
    // width: 100%;
    margin: 0 3em;
    border-radius: 20px;
    box-shadow: -1px 2px 20px 0 rgba(0, 0, 0, 10%);
    padding: 1em 3em;

    .mealTitle {
      font-size: 2rem;
      margin-bottom: 0.5em;
    }

    .infoKcal,
    .infoTime,
    .infoDesc {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      padding: 0.3em;

      .txt {
        margin-left: 1em;
      }
    }

    .infoDesc {
      align-items: start;
    }
  }
}
>>>>>>> origin/dev
