@import "../../colors.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  margin: 3em auto;
  border: none;
  border-radius: 10px;
  padding: 1em;
  max-width: 400px;

  &:hover {
    cursor: pointer;
  }

  .img {
    width: 15em;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .describe {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white-color;
    margin: 0 2em;
    border-radius: 20px;
    box-shadow: -1px 2px 20px 0 #0000001a;
    padding: 1em;

    .mealTitle {
      font-size: 2rem;
      margin-bottom: 0.5em;
    }

    .infoKcal,
    .infoTime,
    .infoDesc {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      padding: 0.3em;

      .txt {
        margin-left: 1em;
        text-align: left;
      }
    }

    .infoDesc {
      align-items: start;
    }
  }
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    max-width: 500px;

    .img {
      margin-bottom: 0;
    }
  }
}
