.recommendedContainer {
  display: grid;
  padding-top: 1%;

  * {
    grid-column: 1;
    grid-row: 1;
  }

  img {
    max-width: 30%;
    max-height: 700px;
    width: 30%;
    margin-left: 35%;
    top: 0;
  }
}

.dishContainer {
  display: grid;

  * {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 80%;
    top: 0;
    margin-left: 10%;
  }
}

.categoriesContainer {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 850px) {
  .recommendedContainer img {
    margin-left: 10%;
    max-width: 80%;
    height: 100%;
    width: 100%;
    top: 0;
  }

  .categoriesContainer {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
